.block-header {
  padding: 15px;
  &__list {
    position: relative;
    color: $dark-blue;
    cursor: pointer;
    font-size: 14px;
    &:after {
      content: '▼';
      font-size: 8px;
      padding-left: 6px;
    }
    ul {
      position: absolute;
      background-color: white;
      z-index: 99;
      border: 1px solid black;
      padding: 7px;
      top: 25px;
      li {
        padding: 5px;
      }
    }

  }
  &__logo {
    text-align: center;
    img {
      max-width: 293px;
    }
  }
  &__btn {
    margin-left: auto;
    display: block;
  }
}