.content-item {
  margin-bottom: 150px;
  @include respond-from(xl) {
    margin-bottom: 100px;
  }
  @include respond-from(lg) {
    margin-bottom: 80px;
  }
  @include respond-from(md) {
    margin-bottom: 60px;
  }
  @include respond-from(sm) {
    margin-bottom: 40px;
  }
  &__heading {
    color: $text-color;
    font-size: 21px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    margin-bottom: 30px;
    @include respond-from(sm) {
      margin-bottom: 20px;
    }

  }
  &__text {
text-align: left;
    margin-right: 20px;
  }
  &__picture {
    max-width: 308px;
    max-height: 285px;
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;
    overflow: hidden;
    @include respond-from(xl) {
      max-width: 300px;
      max-height: 260px;
    }
    &:before {
      content: '';
      background-color: rgba(230, 236, 241, 0.11);
      position: absolute;
      width: 100%;
      height: 100%;
    }
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: mix($bg-light-blue, $dark-blue, $weight:30%);
      opacity: 0.64;
    }
    img {
      max-width: max-content;
      width: auto;
    }
  }

  &--around {
    .content-item {
      &__text {
        margin-left: 20px;
      }
      &__picture {
        margin-right: auto;
      }
    }
  }
}

.text-block {
  &__heading {
    color: $text-color;
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 25px;
    @include respond-from(md) {
      margin-bottom: 0;
      color: $blue;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      border-bottom: 1px dotted $blue;
      width: min-content;
      &:hover, &:active, &:focus {
        border-bottom: 1px dotted transparent;
        text-decoration: none;
      }
    }
  }
  &__dscr {
    margin-bottom: 50px;
    @include respond-from(md) {
      margin-bottom: 25px;
    }
    p {
      color: $text-color;
      font-size: 15px;
      font-weight: 400;
      line-height: 21px;
    }
    span {
      color: $red-text;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      margin-top: 40px;
      display: block;
    }
  }
  &__link {
    a {
      color: $blue-text;
      font-size: 24px;
      font-weight: 400;
      line-height: 27px;
      text-decoration: none;
      border-bottom: 1px solid $blue-text;
      &:hover, &:active, &:focus {
        text-decoration: none;
        border-bottom: 0px solid transparent;
      }
      @include respond-from(md) {
          font-size: 16px;

      }
      p {
        margin: 15px 0 20px;
        color: $text-color;
        font-size: 15px;
        font-weight: 400;
        line-height: 21px;
        @include respond-from(md) {
          font-size: 15px;
          font-weight: 400;
          line-height: 21px;
        }

      }
    }
  }
}

