.header-banner {
  width: 100%;
  max-height: 360px;
  background: url("../image/Layer 4.psb.png") center top no-repeat;
  height: 360px;
  background-size: cover;
  display: flex;
  position: relative;
  margin-bottom: 50px;
  @include respond-from(sm) {
    max-height: 213px;
    background-size: auto;
    margin-bottom: 30px;
  }
  &:before {
    content: '';
    background-color: mix($bg-light-blue, $dark-blue);
    opacity: 0.64;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $bg-gray;
    opacity: 0.04;

  }
  .row {
    height: 100%;
  }
  &__heading {
    text-shadow: 1px 2px 5px rgba(0, 36, 69, 0.35);
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.36px;
    margin-bottom: 20px;
    @include respond-from(sm) {
      font-size: 21px;
      text-align: center;
    }
  }
  &__form {
    display: flex;
    position: relative;
  }
  &__btn {
    display: none;
    @include respond-from(sm) {
      display: block;
      border: 0px solid transparent;
      background-color: transparent;
      position: absolute;
      right: 35px;
      top: 13px;
      cursor: pointer;
      &:before {
        content: '';
        background: url("../image/icons/icon_search.svg") no-repeat;
        background-size: 100%;
        width: 23px;
        height: 23px;
        position: absolute;

      }
    }
  }
}