.partners-block {
  margin-bottom: 50px;
  @include respond-from(sm) {
    margin-bottom: 30px;
  }
  &__heading {
    text-align: center;
    color: $text-color;
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.94px;
    margin-bottom: 40px;
    @include respond-from(sm) {
      margin-bottom: 0px;
    }
  }
  ul {
    display: inline-flex;
    @include respond-from(md) {
      flex-wrap: wrap;
      justify-content: center;
    }
    li {
      @include respond-from(md) {
        width: 50%;
      }
      div {
        height: 160px;
        display: flex;
        align-items: center;
        img {
          width: 83%;
          display: block;
          margin: auto;
          @include respond-from(md) {
            height: 90px;
            width: auto;
          }
        }
      }
    }
  }

  span {
    color: $text-color;
    font-size: 12px;
    font-weight: 400;
    display: block;
    text-align: center;
    @include respond-from(sm) {
      width: 90%;
      margin: auto;
    }
  }
}