$white: #FFF;
$black: #000000;
$text-color: #231F20;
$blue: #0777BA;
$blue-text: #0677B9;
$dark-blue: #004686;
$dark-border-blue: #084783;
$light-gray: #CEDAE3;
$text-gray: #969696;
$bg-gray: #E6ECF1;
$red: #D10E35;
$red-text: #D30531;

$mainFont: 'PT Sans Caption', sans-serif;

$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;





